<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucessfull</title>
</head>
<body>
    <h2>Candidate Registration Sucessfull !!</h2>
    <a href="/user/home">Home</a>
    <br>
    <a href="/candidate/profile"> Show Candidates</a>
</body>
</html>