<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <title>Candidate Registration</title>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="/logstyle.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/PICTURE/favicon.jpg" type="image/png">
   </head>
<body>
    <div class="bg-image"></div>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/PICTURE/vote_signup2.jpg" alt="">
        <div class="text">
          <span class="text-1">B H A R A T<br> V O T E R S </span>
          <span style="font-size: medium;" class="text-1"> A Digital Voting System for Digital India</span>
        </div>
      </div>  
      <div class="back">
        <img class="backImg" src="/PICTURE/vote_signup2.jpg" alt="">
        <div class="text">
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">

            <div class="title">Candidate Registration</div>
            <form action="/candidate/registration" method="post">
                <div class="input-boxes">
                  <div class="input-box">
                    <i class="fas fa-user"></i>
                    <input id="name" name="name" type="text" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input id="age" name="age" type="number" placeholder="Enter your Age" required>
                  </div>
                  <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input id="party" name="party" type="text" placeholder="Enter your Party Name" required>
                  </div>
                  <div class="button input-box">
                    <input type="submit" value="Submit">
                  </div>
                  <div class="text sign-up-text">Back to Candidates Page: <a href="/candidate/profile"> Candidates</a></div>
                </div>
          </form>
      </div>
    </div>
  </div>
  
<div class="stagname2">  <P>@Bharat Voters Initiative. All rights reserved </P> </div>
<ul style="font-size: small; padding-top: 5px;" class="nav justify-content-end">

    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Terms of Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Privacy</a>
    </li>
  </ul>

  </div>

</body>
</html>