
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleporfile.css">
    <link rel="icon" href="/PICTURE/favicon.jpg" type="image/png">
  </head>
  <body style="margin: 0;  padding: 0; background-color: rgb(226, 226, 226);">
<!-- header -->
    <div class="stagname">  <P>B H A R A T &nbsp V O T E R S </P> </div>
    <ul class="nav justify-content-end">

      </ul>
<!-- header end -->

<div  style="display: flex; align-items: center; justify-content: center; height: 200px; background-color: white;"><h2>Vote Recorded Successfully</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/home"><button type="button" class="btn btn-outline-secondary">Back to homepage</button></div></a>




<!-- <footer style="margin-bottom: 0px;">
<div class="stagname2">  <P>@Bharat Voters Initiative. All rights reserved </P> </div>
    <ul style="font-size: small; padding-top: 5px;" class="nav justify-content-end">
  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Terms of Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy</a>
        </li>
      </ul>

      </div>
    </footer> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    </body>
  </html> 