@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.header{
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: flex-start;
    background-color: rgb(221, 221, 221) ;
    width: 100%;
    height: 100px;
    padding: 30px;
}
.d-flex{
    background-color: rgb(221, 221, 221);
    padding: 50px;
  
}
.p-2{
    width: 100%;
    align-items: center;
    justify-content: center;

}